<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.woniu.spring.test.beans.UserService"/>

    <bean class="com.woniu.spring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.woniu.spring.test.beans.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="com.woniu.spring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.woniu.spring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.woniu.spring.test.beans.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>